@media (min-width: 768px) {
	.top {
		position: relative;
		height: 70rem;
		justify-content: center;
		&__hero {
			position: absolute;
			top: 0;
			left: 0;
			width: auto;
			height: 100%;
			z-index: -5;
		}
		&__text {
			max-width: 36rem;
		}
		.container {
			align-self: flex-end;
		}
	}
}
