@use 'colors' as *;
@import 'reset';

body {
	font-family: 'Outfit', sans-serif;
	font-size: 1.8rem;
	line-height: 2.8rem;
	font-weight: 300;
	color: $black;
	background-color: $white;
}
.top {
	&__hero {
		width: 100%;
		height: auto;
	}
	&__title {
		margin: 0.5em 0;
		white-space: pre-line;
	}
	&__action {
		margin: 2em 0;
	}
}
@import 'components';
@import 'medium';
@import 'large';
