@use 'colors' as *;
@import 'reset';

body {
	font-family: 'Outfit', sans-serif;
	font-size: 1.8rem;
	line-height: 2.8rem;
	font-weight: 300;
	color: $black;
	background-color: $white;
}
@import 'components';
@import 'medium';
@import 'large';
