@use 'colors' as *;
@import 'reset';

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Outfit', sans-serif;
	font-size: 1.8rem;
	line-height: 2.8rem;
	font-weight: 300;
	color: $black;
	background-color: $white;
}
// HEADER
.top {
	display: flex;
	flex-direction: column;
	&__hero {
		width: 100%;
	}
	&__title {
		margin: 0.5em 0;
	}
	&__text {
		margin: 1em 0;
	}
	&__action {
		margin: 1em 0;
	}
}
// MAIN
main {
	margin: 3em 0;
}
.grid {
	display: grid;
	gap: 1em;
	img {
		width: 100%;
	}
	&__block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		h2 {
			margin: 0.5em 0;
		}
		&-black {
			padding: 1.5em 1em;
			background-color: $black;
			color: $white;
		}
	}
}
.bottom {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 1.5em 0;
	background-color: $black;
	color: $white;
	.flex {
		display: flex;
		flex-direction: column;
		h4 {
			margin: 1em 0;
		}
		p {
			margin: 1em 0;
			font-size: 1.6rem;
			line-height: 2.6rem;
		}
		.social {
			display: flex;
			flex-direction: row;
			margin: 1em 0;
			a {
				margin: 0 0.5em;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}
@import 'components';
@import 'medium';
@import 'large';
